<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Data and signature generation</h2>
			<p>Building on a successful pilot project, the National Institutes of Health has awarded grants to six research institutions to establish centers, collectively called the Data and Signature Generation Centers. The National Human Genome Research Institute (NHGRI) and the National Heart, Lung, and Blood Institute (NHLBI), both part of NIH, administer the program on behalf of the NIH Common Fund.</p>
			<hr>
		</div>
	</div>

	<div class="row">
		<div ng-repeat="center in centers.generation">
			<!-- Bootstrap clearfix -->
			<div ng-if="$index % 2 == 0" class="clearfix visible-sm"></div>
			<div ng-if="$index % 3 == 0" class="clearfix visible-md visible-lg"></div>

			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body" center data="center"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>Data coordination and integration</h2>
			<hr>
		</div>

	<div class="row">
		<div ng-repeat="center in centers.coordination">
			<!-- <div class="clearfix visible-sm"></div> -->
			<!-- Bootstrap clearfix -->
			<div ng-if="$index % 2 == 0" class="clearfix visible-sm visible-md visible-lg"></div>

			<div class="col-sm-6" >
				<div class="panel panel-default">
					<div class="panel-body" center data="center"></div>
				</div>
			</div>

		</div>


	</div>
</div>