<div class="container">

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<h3>Global Visualization of LINCS Data</h3>
			<p>
				This page provides three modes of global visual summaries of the currently available <a href="http://www.lincsproject.org/centers/">LINCS Phase II</a> datasets. All six <a href="http://www.lincsproject.org/centers/data-and-signature-generating-centers/">LINCS Data and Signature Generation Centers (DSGCs)</a> have released data to the community. These data are released according to the LINCS consortium <a href="http://www.lincsproject.org/data/data-release-policy/">data release policy</a>. The visualized summaries provide unified access with links to the data, metadata and QC documentation hosted on the respective DSGCs' web portals. Some of these released datasets are also linked to <a href="http://lincs-dcic.org/#/resources">analysis tools</a> developed by the<a href="http://lincs-dcic.org/#/"> BD2K-LINCS Data Coordination and Integration Center</a>.
			</p>
		</div>
		<div class="col-sm-3"></div>
	</div>

	<!-- [advanced_iframe securitykey="814946c6ee4628313a04c45b48a363d056e7c154" src="http://amp.pharm.mssm.edu/milestones/grid.html"] -->
	<div class="panel panel-default">
		<iframe src="http://amp.pharm.mssm.edu/milestones/grid.html" frameborder="0" height="1150px"></iframe>
	</div>
</div>
