<div class="container" ng-controller="NewsCtrl" ng-init="init()">
	<div class="row">
		<div class="col-xs-12">
			<h2>News</h2>

			<div class="panel panel-default">
				<table class="table">
					<tbody>
						<tr class="media" ng-repeat="article in articles">
							<td>
								<span class="media-left" >
									<img src="{{ article.img }}" width="150px">
								</span>
								<div class="media-body">

									<!-- Category button -->
									<button class="btn btn-xs pull-right {{ buttonStyle(article.type) }}" ng-click="filterBy(article.type)">{{ article.type }}</button>

									<a href="{{ article.url }}"><h4>{{ article.title }}</h4></a>
									<p class="text-muted small">By {{ article.author }} on {{ article.date | date:"mediumDate"}}</p>

									<!-- Tags in array -->
									
									<p class="text-muted small">
										<span ng-repeat="tag in article.tags">
											{{ tag }}
											<span ng-if="!$last">&#8226</span>
										</span>
									</p>

									<!-- Article summary -->
									<p>{{ article.summary }}</p>

								</div>
							</td>

						</tr>
					</tbody>
				</table>

			</div>


		</div>
		
	</div>
</div>