<div class="container" ng-init="init()">
	<br>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<table class="table">
					<thead>
						<tr>
							<th>Publication</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th class="links-resources"><div>Resources</div></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pub in publications" class="hover-highlight">
							<!-- Main publication view: title, authors, ... -->
							<td>
								<a href="{{ pub.url }}" target="_blank"><p>{{ pub.title }}</p></a>
								<p class="text-muted">
									{{ pub.authors.join(", ") }}.
									{{ pub.journal }}
									({{ pub.year }})
								</p>
							</td>

							<!-- Icons for each publication category. Encoded in publication tags. Order is fixed by controller. -->
							<td ng-repeat="category in categories">
								<div ng-if="pub.tags.indexOf(category) > -1" class="icon {{ category }}" bs-tooltip="tooltips[category]"></div>
							</td>

							<!-- Links to resources -->
							<td>
								<a ng-repeat="link in pub.resources" ng-href="{{link.url}}" target="_blank">{{ link.name }}<br></a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

	</div>
</div>

