<div class="container" ng-init="init()">
	<div class="row panel panel-default">
		<table class="table">
			<thead>
				<tr>
					<th>Publication</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th class="links-resources"><div>Resources</div></th>
				</tr>
			</thead>
			<tbody ng-repeat="pub in publications">
				<tr>
					<!-- Main publication view: title, authors, ... -->
					<td>
						<p>{{ pub.title }}</p>
						<p class="text-muted">
							{{ pub.authors.join(", ") }}.
							{{ pub.journal }}
							({{ pub.year }})
							<a ng-href="{{pub.url}}" target="_blank">...</a>
						</p>
					</td>

					<!-- Icons for each publication category. Encoded in publication tags. Order is fixed by controller. -->
					<td ng-repeat="category in categories">
						<div ng-if="pub.tags.indexOf(category) > -1" class="icon {{ category }}" bs-tooltip="tooltips[category]"></div>
					</td>

					<!-- Links to resources -->
					<td>
						<a ng-repeat="link in pub.resources" ng-href="{{link.url}}" target="_blank">{{ link.name }}<br></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

