html,body {
	/* height and weight required for responsibe footer */
	height: 100%;
	width: 100%;
	background-color: rgb(250,250,250);
	position: relative;
	font-family: Verdana, Helvetica;
}

/* default font size overwriting Bootstrap default */
* {
	/*font-size: 12px;*/
}

body {
	display: table;  /* required for responsibe fixed footer */
	/*background-color: rgb(244,244,224);*/
	/*background-color: rgb(241,241,226);*/
}

div.docs-page {
	padding: 20px 50px;
}

::selection {
	background: rgb(236, 112, 20);
	color: white;
}

/* Navbar */

.navbar {
	margin-bottom: 0px;
}

nav.navbar {
	/*background-color: rgb(204, 204, 153);*/
	background-color: rgb(241,241,226);
	/*background-color: rgb(204,204,153);*/
}

div#navbar ul > li > a {
	/*color: rgb(86, 112, 164);*/
}

div#navbar  a {
	color: rgb(86, 112, 164);
	font-weight: bold;
}

div#navbar > ul > li:hover > a {
	color: black;
}

div#navbar > ul > li.dropdown.open > a {
	/*background-color: rgb(204, 204, 153);*/
	background-color: rgb(210, 210, 178);
}


/* resonsive fixed footer, adapted from https://gist.github.com/seyDoggy/e919a429b2459aedf509 */
footer {
	display: table-row;  /* required for responsive footer*/
	height: 1px;  /* required for responsive footer */
	background-color: rgb(246, 246, 246);
	/*background-color: rgb(43, 61, 98);*/
	/*color: white;*/
}

div.panel.no-top-border {
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

footer div.container-fluid {
	border-top: 1px solid rgb(225, 225, 225);  /* same as bootstrap default for nav */
}

/* Generic highlight on color */
.hover-highlight {
	transition: background-color 0.3s ease;
}
.hover-highlight:hover {
	background-color: rgb(255, 247, 236);
}


/* For compact footer navigation links */
ul.nav-list {
	list-style-type: none;
	padding-left: 0px;
}

div.placard {
	background-color: rgb(44, 63, 102);
	color: rgb(250, 250, 250);
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

div.logo-header {
	/*background-color: rgb(95, 143, 195);*/
	/*background-color: rgb(102, 154, 204);*/
	/*background: -webkit-linear-gradient(rgb(103, 155, 203), rgb(164, 194, 223)); /* For Safari 5.1 to 6.0 */*/
	/*background: -o-linear-gradient(rgb(103, 155, 203), rgb(164, 194, 223)); /* For Opera 11.1 to 12.0 */*/
	/*background: -moz-linear-gradient(rgb(103, 155, 203), rgb(164, 194, 223)); /* For Firefox 3.6 to 15 */*/
	/*background: linear-gradient(rgb(103, 155, 203), rgb(164, 194, 223)); /* Standard syntax */*/
	z-index: 100;
	background: url(../img/bkg_header_top.jpg) repeat-x left top;
}

div#banner {
	position: relative;
}

div.placard p, h4 {
	/*text-align: left;*/
}

div.fit-to-content {
	display: table;
	margin: 0 auto;
}

div.placard-text {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

/* fixed table layout for single column tables on the landing page */
table.fixed {
	table-layout: fixed;
}

img.headline-img {
	max-height: 100px;
	max-width: 100%;
}

img.icon {
	width: 32px;
}

img.logo {
	vertical-align: text-top;
	margin: 3px
}

img.contact-icon {
	width: 30px;
	/*border-radius: 50%;*/
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
}

img.contact-icon:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.inverted {
	-webkit-filter: invert(97%);
	filter: invert(97%);
}


div.panel div.panel-heading {
	/*background-color: white;*/
	background-color: rgb(241,241,226);
}

iframe {
	overflow: hidden;
	width: 100%;
}

a.primary-link {
	text-decoration: none;
	color: inherit;

	-webkit-transition: color 2s;
	-moz-transition: color 2s;
	-o-transition: color 2s;
	transition: color 2s;
}

a.primary-link:hover {
	color: orange;
}

div.icon {
	background-repeat: no-repeat;
	background-size: cover;

	opacity: 0.7;

	width: 20px;
	height: 20px;
}

/* url are relative to css file path */
div.icon.assay-development {
	background-image: url(../icons/assays.svg);
}
div.icon.data-analysis {
	background-image: url(../icons/analysis.svg);
}
div.icon.data-generation {
	background-image: url(../icons/microscope.svg);
}
div.icon.data-integration {
	background-image: url(../icons/integration.svg);
}
div.icon.data-standards {
	background-image: url(../icons/ruler.svg);
}
div.icon.signature-generation {
	background-image: url(../icons/stack.svg);
}
div.icon.software-development {
	background-image: url(../icons/code.svg);
}
div.icon.review {
	background-image: url(../icons/text.svg);
}

.center-logo {
  max-height: 30px;
  max-width: 140px;
}


#sidebar.affix-top {
	position: static;
	margin-top: 30px;
	width: 228px;
}

#sidebar.affix {
	position: fixed;
	top: 0px;
	width: 228px;
}

button.close-div {
	border: none;
	position: absolute;
	bottom: 2px;
	right: 12px;

	z-index: 1;

	background-color: rgba(0,0,0,0.0);

	width: 20px;
	height: 20px;

	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../icons/hide-vertical.svg);
}


/* NEWS */

button.btn.test {
	background-color: green;
}

/* Docs navigation */

/* popover style */
#documentation .popover-title {
	display: none;
}

#documentation .popover:focus {
	outline: none;
}

#documentation img {
	// margin: 16px;
}

#documentation h1 {
	padding-bottom: 12px;
	border-bottom: 1px solid rgb(200,200,200);
}

/* Tabs */
ul.nav.nav-tabs a:hover {
	/*color: purple;*/
	cursor: pointer;
}

/* subnav */
#subnav li a {
	/*visibility: collapse;*/
	display: none;
}

#subnav li.selected > a {
	/*visibility: visible;*/
	display: block;
}

/* children of any selected */
#subnav li.selected > ul > li > a {
	display: block;
}

#sidebar li.selected > ul > li > a {
	display: block;
}


#sidebar li.selected > a {
	/*color: orange;*/
	/*border-left: 4px solid orange;*/
	/*outline-left: orange solid 4px;*/
	box-shadow: -3px 0 0 orange;
}


/* sidebar */
#sidebar {
	/*background-color: grey;*/
	/*padding: 0px;*/
}

#sidebar a {
	/*padding: 0px 10px;*/
	padding: 0;
	/*margin-left: 5px;*/
	padding-left: 4px;
	color: rgb(80,80,80);
}

/* The title of the sidepanel */
ul#sidebar > li.top > a {
	padding: 10px 0px;
	font-size: 16px;
	font-weight: bold;
}

/* File elements of side panel */
#sidebar ul.nav > li.lvl0 > a {
	/*margin-left: 0px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	 /*0px;*/
	/*margin-top: 12px;*/
	/*margin-top: 5px;*/
	font-size: 16px;

}

#sidebar ul.nav > li.lvl1 > a {
	margin-left: 20px;
	margin-top: 8px;
	font-size: 14px;
}

#sidebar ul.nav > li.lvl2 > a {
	margin-left: 40px;
	font-size: 12px;
	margin-top: 4px;
}

#sidebar ul.nav > li.lvl3 > a {
	margin-left: 60px;
	font-size: 11px;
	margin-top: 2px;
}

#sidebar ul.nav > li.lvl4 > a {
	margin-left: 80px;
	font-size: 10px;
	margin-top: 1px;
}
