	<div class="container-fluid">  <!-- for the top border separation-->
		<div class="container">   <!-- for alignment to other bootstrap content -->
				<div class="row text-muted">
					<div class="col-md-2 col-sm-3 col-xs-4">
						<h4>Centers</h4>
						<ul class="nav-list">
							<li><a href="centers">Overview</a></li>
							<li><a href="docs/DCIC">DCIC</a></li>
							<li><a href="docs/HMS-LINCS">HMS-LINCS</a></li>
							<li><a href="docs/DToxS">DToxS</a></li>
							<li><a href="docs/LINCS-Proteomics">LINCS-Proteomics</a></li>
							<li><a href="docs/LINCS-Transcriptomics">LINCS-Transcriptomics</a></li>
							<li><a href="docs/MEP">MEP</a></li>
							<li><a href="docs/NeuroLINCS">NeuroLINCS</a></li>
						</ul>
					</div>

					<div class="col-md-2 col-sm-3 col-xs-4">
						<h4>Data</h4>
						<ul class="nav-list">
							<li><a href="data-releases">Releases</a></li>
							<li><a href="docs/LINCS/Data#data-release-policy">Release policy</a></li>
							<li><a href="docs/LINCS/Data#data-standards">Standards</a></li>
							<li><a href="tools">Tools and databases</a></li>
							<li><a href=""></a></li>
						</ul>
					</div>

					<div class="col-md-2 col-sm-3 col-xs-4">
						<h4>Announcements</h4>
						<div class="row">
							<div class="col-sm-6">
								<ul class="nav-list">
									<li><a href="publications">Publications</a></li>
									<li><a href="news">News</a></li>
									<li><a href="webinars">Webinars</a></li>
									<li><a href="docs/LINCS/Community#workshops">Workshops</a></li>
									<li><a href="docs/LINCS/Community#symposia">Symposia</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-2 col-sm-3 col-xs-4">
						<h4>Contact</h4>
						<ul class="nav-list">
							<li>
								<a href="https://twitter.com/BD2KLINCSDCIC">
									<img class="contact-icon" src="icons/twitter.svg">
								</a>
							</li>
							<li>
								<a href="https://www.youtube.com/channel/UC88h_MIO1LP7Jv52VQ4qKkg">
									<img class="contact-icon" src="icons/youtube.svg">
								</a>
							</li>
							<li>
								<a href="mailto:simon.koplev@mssm.edu?Subject=[Questions/Comments regarding lincsproject.org]">
									<img class="contact-icon" src="icons/gmail.svg">
								</a>
							</li>
						</ul>
					</div>
			</div>

			<div class="row footer-bottom text-center">
				<hr>
				<p class="text-muted">
					<small>
						©2015, LINCS Program. All rights reserved. Funded by <a href="http://commonfund.nih.gov/lincs/" target="_blank">The NIH Common Fund</a>.
						Developed by the
						<a href="http://lincs-dcic.org/" target="_blank">BD2K-LINCS DCIC</a>.
					</small>
				</p>
			</div>

		</div>


	</div>
</div>