<div class="logo-header">
	<div class="container">


		<a class="pull-left" href="." >
			<!-- <img class="logo" src="img/lincs_logo.png" placement="bottom" bs-tooltip="LINCS_description" height="40px"> -->
			<!-- <img width="300px" src="img/NIH_LINCS_logo.jpg" placement="right" bs-tooltip="LINCS_description"> -->
			<img src="img/NIH_LINCS_logo.jpg" placement="right" bs-tooltip="LINCS_description">
			<!-- <img src="img/NIH_LINCS_logo.jpg"> -->
		</a>


		<!--
		<span class="pull-right" style="color: white; font-size: 10px;">
			LIBRARY OF INTEGRATED NETWORK-BASED CELLULAR SIGNATURES
		</span>
		-->

		<div class="pull-right">

			<form class="navbar-form" role="search" style="width: 100%;">
				<!-- <div class="input-group" style="width: 200px;"> -->
				<div class="input-group">

					<input type="text" class="form-control" placeholder="Search">

					<span class="input-group-btn">
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-search" style="color: grey;"></span>
						</button>
					</span>
				</div>
			</form>

		</div>


	</div>
</div>

<nav id="header" class="navbar navbar-default navbar-static-top">


	<div class="container">
		<!-- Toggle navigation -->
		<div class="navbar-header">

			<!-- Toggle navigation button -->
			<button type="button" 
				class="navbar-toggle collapsed" 
				data-toggle="collapse"
				data-target="#navbar"
				aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!-- Logo and home link -->
			<!-- <a class="pull-left" href="." > -->
				<!-- <img class="logo" src="img/lincs_logo.png" placement="bottom" bs-tooltip="LINCS_description" height="40px"> -->
			<!-- </a> -->
		</div>

		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<!-- Data dropdown -->
				<li class="dropdown">
					<a href="#" 
						class="dropdown-toggle"
						data-toggle="dropdown"
						role="button"
						aria-haspopup="true"
						aria-expanded="false">DATA <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="tools">Tools and databases</a></li>
						<li><a href="data-releases">Releases</a></li>
						<li><a href="docs/LINCS/Data#data-release-policy">Release policy</a></li>
						<li><a href="docs/LINCS/Data#data-standards">Data standards</a></li>
					</ul>
				</li>

				<!-- Community dropdown -->
				<li class="dropdown">
					<a href="#" 
						class="dropdown-toggle"
						data-toggle="dropdown"
						role="button"
						aria-haspopup="true"
						aria-expanded="false">COMMUNITY <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="centers">Centers</a></li>
						<li><a href="docs/LINCS/Community#funding-opportunities">Funding opportunities</a></li>
						<li><a href="docs/LINCS/Community#lincs-consortium-meetings">Consortium meetings</a></li>
						<!-- <li><a href="/docs/LINCS/Community#webinars">Webinars</a></li> -->
						<li><a href="docs/LINCS/Community#workshops-and-symposia">Workshops and symposia</a></li>
					</ul>
				</li>

				<li><a href="publications">PUBLICATIONS</a></li>
				<li><a href="webinars">WEBINARS</a></li>
				<li><a href="news">NEWS</a></li>
				<li><a href="docs">DOCUMENTATION</a></li>

				<!-- Help dropdown -->
				<li class="dropdown">
					<a href="#" 
						class="dropdown-toggle"
						data-toggle="dropdown"
						role="button"
						aria-haspopup="true"
						aria-expanded="false">HELP <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="concierge">Concierge</a></li>
					</ul>
				</li>

			</ul>

			<!--
			<ul class="nav navbar-nav navbar-right">
				<li>
					<form class="navbar-form" role="search" style="width: 100%;">
						<div class="input-group">

							<input type="text" class="form-control" placeholder="Search">

							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<span class="glyphicon glyphicon-search" style="color: grey;"></span>
								</button>
							</span>
						</div>
					</form>

				</li>
			</ul>
			-->

		</div><!--/.nav-collapse -->

	</div>
</nav>
