<nav id="header" class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<!-- Toggle navigation -->
		<div class="navbar-header">

			<!-- Toggle navigation button -->
			<button type="button" 
				class="navbar-toggle collapsed" 
				data-toggle="collapse"
				data-target="#navbar"
				aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!-- Logo and home link -->
			<a class="pull-left" href="/" >
				<img class="logo" src="img/lincs_logo.png" placement="bottom" bs-tooltip="LINCS_description" height="40px">
			</a>
		</div>

		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" 
						class="dropdown-toggle"
						data-toggle="dropdown"
						role="button"
						aria-haspopup="true"
						aria-expanded="false">Data <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/data-releases">Data releases</a></li>
						<li><a href="/docs/LINCS/Data#data-release-policy">Data release policy</a></li>
						<li><a href="/docs/LINCS/Data#data-standards">Data standards</a></li>
						<li><a href="/tools">Tools and databases</a></li>
					</ul>
				</li>


				<li><a href="/centers">Centers</a></li>

				<li class="dropdown">
					<a href="#" 
						class="dropdown-toggle"
						data-toggle="dropdown"
						role="button"
						aria-haspopup="true"
						aria-expanded="false">Community <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Funding opportunities</a></li>
						<li><a href="#">LINCS Consortium meetings</a></li>
						<li><a href="#">Webinars</a></li>
						<li><a href="#">Workshops and symposia</a></li>
					</ul>
				</li>
				<li><a href="/publications">Publications</a></li>
				<li><a href="/news">News</a></li>
				<li><a href="/docs">Documentation</a></li>
				<li class="dropdown">
					<a href="#" 
						class="dropdown-toggle"
						data-toggle="dropdown"
						role="button"
						aria-haspopup="true"
						aria-expanded="false">Help <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/concierge">Concierge</a></li>
						<!-- <li><a href="/docs/LINCS/Data#data-release-policy">Data release policy</a></li> -->
						<!-- <li><a href="/docs/LINCS/Data#data-standards">Data standards</a></li> -->
						<!-- <li><a href="/tools">Tools and databases</a></li> -->
					</ul>
				</li>

			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<div class="input-group">
						<form class="navbar-form" role="search">

							<input type="text" class="form-control" placeholder="Search">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" style="color: grey;"></span></button>
							</span>
						</form>
					</div>
				</li>
			</ul>

		</div><!--/.nav-collapse -->
	</div>
</nav>
